<div class="bg-white pt-4 pr-8 pb-4 pl-8">
      <nav class="w-full">
        <div class="w-full justify-between md:flex-row mt-auto mr-auto mb-auto ml-auto flex max-w-screen-2xl">
          <div class="bg-white justify-between items-center mt-2 mb-2 md:m-0 md:flex flex flex-row hidden">
            <a class="text-black text-center mr-6 font-bold text-base" th:href="@{/}">Главная</a>
            <a class="text-black text-center mr-6 font-bold text-base" th:href="@{/app}">Медкарта</a>
            <a class="text-black text-center font-bold text-base" th:href="@{/app}">Записаться на приём</a>
          </div>
          <div class="justify-center items-center md:order-none flex flex-row order-first"></div>
          <div class="bg-white justify-center items-center md:m-0 md:flex flex flex-row hidden">
            <a class="text-black text-center mr-6 font-bold text-lg" th:href="@{/login}">Войти</a>
            <a class="text-black text-center font-bold text-lg" th:href="@{/register}">Регистрация</a>
          </div>
          <div class="md:hidden ml-auto items-center flex">
            <div class="outline-none mobile-menu-button">
              <svg class="w-6 h-6 text-gray-500 hover:text-green-500" fill="none" id="windframe"
                   stroke="currentColor" stroke-linecap="round"
                   stroke-width="2" viewbox="0 0 24 24"><path
		              d="M4 6h16M4 12h16M4 18h16" id="windframe"/></svg>
            </div>
          </div>
        </div>
        <div class="md:hidden hidden mobile-menu">
          <div>
            <div class="flex flex-col">
              <a class="text-gray-600 text-center mt-2 font-medium text-lg" th:href="@{/}">Главная</a>
              <a class="text-gray-600 text-center mt-2 font-medium text-lg" th:href="@{/app}">Медкарта</a>
              <a class="text-gray-600 text-center mt-2 font-medium text-lg" th:href="@{/app}">Записаться на приём</a>
              <a class="text-gray-600 text-center mt-2 font-medium text-lg" th:href="@{/login}">Войти</a>
              <a class="text-gray-600 text-center mt-2 font-medium text-lg" th:href="@{/register}">Регистрация</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
